@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 70px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}